body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------------
# nav bar
--------------------------------------------------------------*/
.topnav {
  overflow: hidden;
  background-color: #374873;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffcb05;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 686px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 686px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*--------------------------------------------------------------
# nav end
--------------------------------------------------------------*/
/* -------------------------------------------------------
side and top nav
---------------------------------------------------- */
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* -------------------------------------------------------
side and top nav end
---------------------------------------------------- */

/*--------------------------------------------------------------
# registration Form
--------------------------------------------------------------*/
.registerError{
  color: red;
}
.clg_img {
  clip-path: polygon(20% 0%, 100% 1%, 100% 100%, 0% 100%);
}
#header {
  background: #194486;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
.frt_div {
  /* background-color: teal; */
  padding-bottom: 0.6rem;
}

.snd_div {
  padding: 0 0 1rem;
  /* background-color: tomato; */
}

.jumbotron {
  height: 300px;
  border: 1px solid rgb(68, 65, 65);
  border-radius: 3%;
  background-color: rgb(240, 240, 241);
}
.trd_div {
  padding-top: 0;
  /* background-color: violet; */
}
.adm_btn {
  background-color: #194486;
  border-color: #194486;
}
.adm_btn:hover {
  background-color: #194486;
  border-color: #194486;
}
.reg_div {
  /* border: 1px solid rgb(68, 65, 65); */
  /* margin-left: 15px; */
  /* margin-right: 25px; */
  border-radius: 3%;
  padding: 20px;
  /* width: 60%; */
  /* text-align: center; */
}
@media (min-width: 500px) {
  .reg_div {
    width: 50%;
  }
}

@media (min-width: 200px) {
  .reg_div {
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    padding: 20px;
  }
}
.inputform {
  border: 1px solid rgb(0, 0, 0);
  /* text-align: center; */
  /* padding: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  /* width: 250px; */
}
.snd_nav {
  background: #374871;
  color: #f0f0ee;
  font-size: large;
  height: 60px;
  margin-bottom: 0;
}
#log1 {
  color: white;
}
#snd_nav {
  margin-left: auto;
}
.snd_nav {
  margin-left: 20px;
  margin-right: 20px;
}
#snd_div {
  margin-top: auto;
  border: 1px solid red;
}

.form-control::placeholder {
  color: #050505;
}

.chk_lab {
  margin-left: 30px;
}
/*--------------------------------------------------------------
# MODAL  registration LOGIN Form
--------------------------------------------------------------*/
.modal_error{
  color: red;
}
/*--------------------------------------------------------------
# End registration Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# application Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# End application Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #37423b;
  font-size: 14px;
  background: #eef0ef;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9faf9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #c7a577;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #c7a577;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #c7a577;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #3ac162;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #3ac162;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #c7a577;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #c7a577;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3ac162;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Footer end
--------------------------------------------------------------*/
